RummikubWebApp/src/conf/xml-resources/web-services/RummikubWS/wsdl/RummikubWebServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://rummikub.ws/" xmlns:tns="http://rummikub.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="DuplicateGameName" type="tns:DuplicateGameName"/>

  <xs:element name="GameDoesNotExists" type="tns:GameDoesNotExists"/>

  <xs:element name="InvalidParameters" type="tns:InvalidParameters"/>

  <xs:element name="InvalidXML" type="tns:InvalidXML"/>

  <xs:element name="addTile" nillable="true" type="tns:addTile"/>

  <xs:element name="addTileResponse" nillable="true" type="tns:addTileResponse"/>

  <xs:element name="createGame" nillable="true" type="tns:createGame"/>

  <xs:element name="createGameFromXML" nillable="true" type="tns:createGameFromXML"/>

  <xs:element name="createGameFromXMLResponse" nillable="true" type="tns:createGameFromXMLResponse"/>

  <xs:element name="createGameResponse" nillable="true" type="tns:createGameResponse"/>

  <xs:element name="createSequence" nillable="true" type="tns:createSequence"/>

  <xs:element name="createSequenceResponse" nillable="true" type="tns:createSequenceResponse"/>

  <xs:element name="finishTurn" nillable="true" type="tns:finishTurn"/>

  <xs:element name="finishTurnResponse" nillable="true" type="tns:finishTurnResponse"/>

  <xs:element name="getEvents" nillable="true" type="tns:getEvents"/>

  <xs:element name="getEventsResponse" nillable="true" type="tns:getEventsResponse"/>

  <xs:element name="getGameDetails" nillable="true" type="tns:getGameDetails"/>

  <xs:element name="getGameDetailsResponse" nillable="true" type="tns:getGameDetailsResponse"/>

  <xs:element name="getPlayerDetails" nillable="true" type="tns:getPlayerDetails"/>

  <xs:element name="getPlayerDetailsResponse" nillable="true" type="tns:getPlayerDetailsResponse"/>

  <xs:element name="getPlayersDetails" nillable="true" type="tns:getPlayersDetails"/>

  <xs:element name="getPlayersDetailsResponse" nillable="true" type="tns:getPlayersDetailsResponse"/>

  <xs:element name="getWaitingGames" nillable="true" type="tns:getWaitingGames"/>

  <xs:element name="getWaitingGamesResponse" nillable="true" type="tns:getWaitingGamesResponse"/>

  <xs:element name="joinGame" nillable="true" type="tns:joinGame"/>

  <xs:element name="joinGameResponse" nillable="true" type="tns:joinGameResponse"/>

  <xs:element name="moveTile" nillable="true" type="tns:moveTile"/>

  <xs:element name="moveTileResponse" nillable="true" type="tns:moveTileResponse"/>

  <xs:element name="resign" nillable="true" type="tns:resign"/>

  <xs:element name="resignResponse" nillable="true" type="tns:resignResponse"/>

  <xs:complexType name="getGameDetails">
    <xs:sequence>
      <xs:element name="gameName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getGameDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:gameDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gameDetails">
    <xs:sequence>
      <xs:element name="computerizedPlayers" type="xs:int"/>
      <xs:element name="humanPlayers" type="xs:int"/>
      <xs:element name="joinedHumanPlayers" type="xs:int"/>
      <xs:element name="loadedFromXML" type="xs:boolean"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="tns:gameStatus" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GameDoesNotExists">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:rummikubFault" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rummikubFault">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
      <xs:element name="faultString" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGameFromXML">
    <xs:sequence>
      <xs:element name="xmlData" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGameFromXMLResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DuplicateGameName">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:rummikubFault" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvalidParameters">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:rummikubFault" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvalidXML">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:rummikubFault" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTile">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int"/>
      <xs:element name="sequenceIndex" type="xs:int"/>
      <xs:element name="sequencePosition" type="xs:int"/>
      <xs:element name="tile" type="tns:tile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tile">
    <xs:sequence>
      <xs:element name="color" type="tns:color" minOccurs="0"/>
      <xs:element name="value" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTileResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="moveTile">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int"/>
      <xs:element name="sourceSequenceIndex" type="xs:int"/>
      <xs:element name="sourceSequencePosition" type="xs:int"/>
      <xs:element name="targetSequenceIndex" type="xs:int"/>
      <xs:element name="targetSequencePosition" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="moveTileResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="createGame">
    <xs:sequence>
      <xs:element name="computerizedPlayers" type="xs:int"/>
      <xs:element name="humanPlayers" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGameResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getWaitingGames">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getWaitingGamesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resign">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resignResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPlayersDetails">
    <xs:sequence>
      <xs:element name="gameName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlayersDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:playerDetails" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="playerDetails">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="numberOfTiles" type="xs:int"/>
      <xs:element name="status" type="tns:playerStatus" minOccurs="0"/>
      <xs:element name="tiles" type="tns:tile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="type" type="tns:playerType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlayerDetails">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlayerDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:playerDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finishTurn">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finishTurnResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getEvents">
    <xs:sequence>
      <xs:element name="eventId" type="xs:int"/>
      <xs:element name="playerId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEventsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:event" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="playerName" type="xs:string" minOccurs="0"/>
      <xs:element name="sourceSequenceIndex" type="xs:int"/>
      <xs:element name="sourceSequencePosition" type="xs:int"/>
      <xs:element name="targetSequenceIndex" type="xs:int"/>
      <xs:element name="targetSequencePosition" type="xs:int"/>
      <xs:element name="tiles" type="tns:tile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="timeout" type="xs:int"/>
      <xs:element name="type" type="tns:eventType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createSequence">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int"/>
      <xs:element name="tiles" type="tns:tile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createSequenceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="joinGame">
    <xs:sequence>
      <xs:element name="gameName" type="xs:string" minOccurs="0"/>
      <xs:element name="playerName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="joinGameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="gameStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WAITING"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="FINISHED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="color">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BLACK"/>
      <xs:enumeration value="BLUE"/>
      <xs:enumeration value="RED"/>
      <xs:enumeration value="YELLOW"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="playerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JOINED"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="RETIRED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="playerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HUMAN"/>
      <xs:enumeration value="COMPUTER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GameStart"/>
      <xs:enumeration value="GameOver"/>
      <xs:enumeration value="GameWinner"/>
      <xs:enumeration value="PlayerTurn"/>
      <xs:enumeration value="PlayerFinishedTurn"/>
      <xs:enumeration value="PlayerResigned"/>
      <xs:enumeration value="SequenceCreated"/>
      <xs:enumeration value="TileAdded"/>
      <xs:enumeration value="TileMoved"/>
      <xs:enumeration value="Revert"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

